@import 'loader';
@import '../variables';

.itemsContainer {
    padding-bottom: 50px;
}

.card {
    margin: 20px 0;
    .card-img {
        min-height: 300px;
        height: 100%;
        background-position: 50% 50%;
        background-size: cover;
        border-radius: calc(.25rem - 1px)  calc(.25rem - 1px) 0 0;
    }
    .price {
        font-weight: bold;
    }
    .email {
        text-decoration: none;
        font-weight: bold;
    }
}
 .btn {
     background-color: $mainColor;
     color: #fff;
     display: block;
     margin: 20px auto 40px;
     &:hover {
         background-color: darken($mainColor, 10%);
     }
 }
@media (min-width: 768px) {
    .card .card-img {
        border-radius: calc(.25rem - 1px) 0 0 calc(.25rem - 1px);
    }
}
