<app-favourites [items]="favourites" (remove)="removeFromFavs($event)"></app-favourites>

<section>
  <div class="container">
    <app-search (getResults)="getResults()" [items]="items"></app-search>
  </div>
</section>

<section id="itemsContainer">
  <div class="container">
    <div class="row">
      <div class="col text-right filters">
        <p>Sort by:
          <a (click)="sortBy('title')">Title</a> |
          <a (click)="sortBy('description')">Description</a> |
          <a (click)="sortBy('price')">Price</a> |
          <a (click)="sortBy('email')">Email</a>
        </p>
      </div>
    </div>
    <div class="card" *ngFor="let item of visibleItems" id="item-{{item.id}}">
      <div class="row">
        <div class="col-md-4">
          <div class="card-img" [ngStyle]="{'background-image': 'url(./assets/images/' + item.image +')' }"></div>
        </div>
        <div class="col-md-8">
          <div class="card-block">
            <h4 class="card-title">
              <i class="fa fa-heart-o fav" aria-hidden="true" (click)="toggleFavourites(item, $event)"></i>
              {{item.title}}
            </h4>
            <p class="card-text">{{item.description}}</p>
            <p class="price">Price: &euro;<strong>{{item.price}}</strong></p>
            <p class="email">Email: <a href="mailto: {{item.email}}">{{item.email}}</a> </p>
          </div>
        </div>
      </div>
    </div>
    <div class="loader" *ngIf="loading"></div>
    <button class="btn" (click)="onClick()" *ngIf="itemsLoaded && moreItemsToShow() && !loading">Load more</button>
  </div>
</section>
