@import 'loader';
@import '../theme';

.itemsContainer {
    padding-bottom: 50px;
}

.card {
    margin: 20px 0;

    i.fav {
        float: right;
        color: $mainColor;
        cursor: pointer;
        &:hover {
            color: darken($mainColor, 10%);
        }
    }
    .card-img {
        min-height: 300px;
        height: 100%;
        background-position: 50% 50%;
        background-size: cover;
        border-radius: calc(.25rem - 1px)  calc(.25rem - 1px) 0 0;
    }
    .price, .email a {
        color: $mainColor;
        font-weight: bold;
        text-decoration: none;
    }

    .email a:hover {
        color: darken($mainColor, 10%);
        text-decoration: underline;
    }
}

@media (min-width: 768px) {
    .card .card-img {
        border-radius: calc(.25rem - 1px) 0 0 calc(.25rem - 1px);
    }
}
