$mainColor: #1DC1A7;

.btn {
    background-color: $mainColor;
    color: #fff;
    display: block;
    margin: 20px auto 40px;
    cursor: pointer;
    &:hover {
        background-color: darken($mainColor, 10%);
    }
}

a, a:not([href]) {
    cursor: pointer;
    color: $mainColor;
    font-weight: bold;
    text-decoration: none;
    &:hover {        
        color: darken($mainColor, 10%);
        text-decoration: underline;
    }
}