<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." id="search" (keyup)="getSearchString($event)"/>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" (click)="getSearchString($event)">Go!</button>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 *ngIf="!results.length && searched">
          No results found!
        </h4>
      </div>
    </div>
  </div>
</section>